These files are in the gallery map: <br />
<br />
<table>
    <tr>
{% for picture in gallery %}
    {% if loop.index % 3 == 1 %}
    </tr>
    <tr>
    {% endif %}
        <td>
            <img src="{{ asset(('/uploads/gallery/' ~ picture.getFileName))| imagine_filter('thumbnail') }}" alt="" />
            <span>{{ picture.getFileName }}</span>
        </td>
{% endfor %}
    </tr>
</table>
