These files are in the gallery map: <br />
<br />
<table>
    <tr>
{% for picture in gallery %}
    {% if loop.index % 3 == 1 %}
    </tr>
    <tr>
    {% endif %}
        <td>
            <a href="{{ asset(('/uploads/gallery/' ~ picture.getFileName)) }}" target="_blank">
                <img src="{{ asset(('/uploads/gallery/' ~ picture.getFileName))| imagine_filter('thumbnail') }}" alt="" /><br />
                <span>{{ picture.getFileName }}</span>
            </a>
        </td>
{% endfor %}
    </tr>
</table>
